@model Micropost.Models.User

@{
    ViewBag.Title = "Edit user";
}
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginRouteForm("UserUpdate", FormMethod.Post))
        {
            @Html.Partial("_FormErrorPartial");

            @Html.AntiForgeryToken()

            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })

            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { type = "email", @class = "form-control" })

            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })

            @Html.LabelFor(model => model.PasswordConfirmation, "Confirmation")
            @Html.PasswordFor(model => model.PasswordConfirmation, new { @class = "form-control" })

            <input type="submit" value="Save Changes" class="btn btn-primary" />
        }
        <div class="gravatar_edit">
            @if (Model.Email != null)
            {
                GravatarHelper.Gravatar(Model.Email.ToLower(), Model.Name);
            }
            <a href="http://gravatar.com/emails" target="_blank">change</a>
        </div>
    </div>
</div>
