@using PagedList;
@using PagedList.Mvc;
@using Microposts.Models;
@model ApplicationUser
@{
    ViewBag.Title = Model.FullName;
}
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                @GravatarHelper.Gravatar(Model.FullName, Model.Email)
                @Model.FullName
            </h1>
        </section>
        <section class="stats">
            @Html.Partial("_Stats",Model)
        </section>
    </aside>
    <div class="col-md-8">
        @if (Request.IsAuthenticated)
        {
            @Html.Partial("_FollowForm", Model)
        }
        @if (((IPagedList<Micropost>)ViewBag.Microposts).Any())
        {
            <h3>Microposts (@Model.Microposts.Count)</h3>
            <ol class="microposts">
                @Html.PagedListPager((IPagedList)ViewBag.Microposts,
                page => Url.Action("Show", new
                {
                    page,
                    sortOrder = ViewBag.CurrentSort,
                    currentFilter = ViewBag.CurrentFilter
                }))
                @foreach (var item in (IPagedList<Micropost>)ViewBag.Microposts)
                {
                    @Html.Partial("_Micropost", item)
                }
                @Html.PagedListPager((IPagedList)ViewBag.Microposts, page => Url.Action("Index",
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </ol>
        }
    </div>
</div>

@section scripts 
{
    <script>
        function follow_callback(data)
        {
            $("#follow_form").html(data.view);
            $("#followers").html(data.count);            
        }
    </script>
}
