@using Microsoft.AspNet.Identity

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.RouteLink("sample app", "Default", new {area = ""}, new {id = "logo"})
        </div>
        <div class="navbar-collapse collapse">
            <nav>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right dropdownform" }))
                {
                    @Html.HttpMethodOverride(HttpVerbs.Delete)
                    @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.RouteLink("Home", "Default")</li>
                        <li>@Html.RouteLink("Help", "Help")</li>
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.RouteLink("Users", "AllUsersPath")</li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Account <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.RouteLink("Profile", "User", new {id = User.Identity.GetUserId()})</li>
                                    <li>@Html.RouteLink("Settings", "UserEditForm", new {id = User.Identity.GetUserId()})</li>
                                    <li class="divider"></li>
                                    <li>
                                        @Html.RouteLink("Log out", "Logout", null, new { id = "logoutlink"})                                        
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {                                
                            <li>@Html.RouteLink("Log in", "LoginForm", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
                        }
                    </ul>
                }
            </nav>
        </div>
    </div>
</div>