@using Microsoft.AspNet.Identity
@using Micropost.Helper


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.RouteLink("sample app", "Default", new { area = "" }, new { id ="logo" })            
        </div>
        <div class="navbar-collapse collapse">            
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <nav>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                        </ul>
                    </nav>
                }
            }
            else
            {
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
                        <li>@Html.RouteLink("Home", "Default")</li>
                        <li>@Html.RouteLink("Help", "Help")</li>
                        @if (SessionsHelper.IsLoggedIn())
                        {
                            <li>@Html.RouteLink("Users", "AllUsersPath")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Account <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>@Html.RouteLink("Profile","UsersPath",new { id = SessionsHelper.CurrentUser().Id })</li>
                                    <li>@Html.RouteLink("Settings","User",new { action = "Edit", id = SessionsHelper.CurrentUser().Id })</li>
                                    <li class="divider"></li>
                                    <li>
                                        @Html.RouteLink("Log out", "LogoutPath")
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>@Html.RouteLink("Log in", "LoginPathGet")</li>
                        }
                    </ul>
</nav>
            }
        </div>
    </div>
</div>