@model Micropost.Models.ApplicationUser
<li>
    @GravatarHelper.Gravatar(Model.Email, Model.FullName, "50")
    @if (User.IsInRole("Admin") && User != Model)
    {
        using (Html.BeginRouteForm("UserDelete", new { area = "", id = Model.Id }, FormMethod.Post, new {@class= "form-inline" , id = "deleteForm"+Model.Id}))
        {
            @Html.HttpMethodOverride(HttpVerbs.Delete)
            @Html.AntiForgeryToken()

            @Html.RouteLink(Model.FullName, "User", new { id = Model.Id })
            @Html.Raw(" | ")
            @Html.RouteLink("delete", "UserDelete", new {id = Model.Id}, htmlAttributes: new { @class= "deletelink", id = "deleteLink"+Model.Id })
            //<a href="#" class="deletelink" id="deleteLink@{ @Html.Raw(Model.Id); }">delete</a>
        }
    }
</li>