@model Micropost.Models.User

@{
    ViewBag.Title = "Reset password";
}
<h1>Reset password</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginRouteForm("PasswordResetUpdateRoute", new { token = ViewContext.RouteData.Values["token"] } ))
        {
            @Html.Partial("_FormErrorPartial");

            @Html.HiddenFor(m => m.Email)

            @Html.LabelFor(m=> m.Password)
            @Html.PasswordFor(m => m.Password, new {  @class = "form-control" })

            @Html.LabelFor(m => m.Password, "Confirmation")
            @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control" })

            <input type="submit" name="Submit Password" class="btn btn-primary" />
        }        
    </div>
</div>

