@using Micropost.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<h1>Log in</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    <div class="input-group col-md-12">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.RouteLink("(forgot password)", "PasswordResetForm")
                    <div class="input-group col-md-12">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="checkbox inline">
                    @Html.CheckBoxFor(m => m.RememberMe, new { id = "session_remember_me" })
                    @Html.LabelFor(m => m.RememberMe)
                </div>

                <input type="submit" value="Log in" class="btn btn-primary" />
            }
            @Html.ActionLink("Register as a new user", "Register")
        </section>

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}