@model Microposts.Models.UpdateProfileViewModel
@{
    ViewBag.Title = "Edit User";
}
<h1>Update your profile</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        @using (Html.BeginRouteForm("UserEdit", new { id = ViewContext.RouteData.Values["id"]}, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
        {
            @Html.AntiForgeryToken()

            @Html.Partial("_FormErrorPartial")            

            @Html.LabelFor(model => model.FullName)
            @Html.TextBoxFor(model => model.FullName, new {@class = "form-control"})

            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new {type = "email", @class = "form-control"})

            @Html.LabelFor(m => m.NewPassword)
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control"})

            @Html.LabelFor(m => m.ConfirmPassword)
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control"})

            <input type="submit" value="Save changes" class="btn btn-primary"/>
        }
        <div class="gravatar_edit">
            @if (Model.Email != null)
            {
                GravatarHelper.Gravatar(Model.Email.ToLower(), Model.FullName);
            }
            <a href="http://gravatar.com/emails" target="_blank">change</a>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
